<div class="index-container">
  <img id="img" src="/images/beer.png" alt="some beer">
<section id="button-section">
  <a href="/beers">
    <button>Check the beers</button>
</a>
  <a href="/random-beer">
    <button>Random Beer </button>
</a>
</section>
  
</div>